body {

    background-image: url("../images/index-background.png"); 
    background-repeat: no-repeat;
    background-position: top right;
}

#logo{ margin-top: 40px;text-align: center;}

#document-form{margin-right: 30%;margin-left: 30%; margin-top: 2%; min-width:500px;}

.list-group-item{padding: 2%;position: relative;}

.WI-name{position: absolute;left: 70px;top: 0px;}

.WI-label{position: absolute;left: 90px;top: 25px;}

.WI-rev{position: absolute;left: 160px;top: 0px;}